{% extends 'base.html.twig' %}

{% block body %}
<div class="container">

<div>
    <h2>A propos d' AFAC 974</h2><br>
</div> 

<div class="container">
    <p>
    AFAC 974, ou Association pour la Formation et l'Animation Culturelle à La Réunion, est une organisation dynamique,
    basée sur l'île de La Réunion. Fondée dans le but de promouvoir la formation et l'animation culturelle,
    l'AFAC 974 s'engage à enrichir la vie des habitants de l'île en offrant des opportunités éducatives et artistiques.
    </p>
    <p>
    L'association s'investit activement dans le développement de programmes de formation qui visent à renforcer
    les compétences des participants, qu'il s'agisse de formations professionnelles, d'ateliers artistiques
    ou d'activités éducatives. En mettant l'accent sur la diversité culturelle présente à La Réunion,
    l'AFAC 974 contribue à tisser des liens intercommunautaires et à célébrer la richesse de l'héritage culturel de l'île.
    </p>
    <p>
    La promotion de l'animation culturelle est également au cœur des actions de l'association.
    Elle organise des événements artistiques, des spectacles, des expositions et des festivals,
    qui mettent en avant les talents locaux et favorisent l'échange culturel.
    Ces initiatives contribuent à dynamiser la scène culturelle réunionnaise et à encourager la créativité
    au sein de la communauté.
    </p>
    <p>
    L'AFAC 974 incarne ainsi une force positive dans la vie culturelle et éducative de La Réunion.
    Grâce à son engagement continu, elle participe à l'épanouissement des individus en offrant des opportunités de formation
    et d'expression artistique, tout en favorisant la cohésion sociale au sein de cette magnifique île de l'océan Indien.
    </p>
    <br>
</div>
<div>
    <h2>Mentions légales</h2><br>
</div> 
<div class="container">
    <p>
    ÉDITEUR DU SITE :

       Nom de l'entreprise : AFAC 974
       Adresse de l'entreprise : 17 Rue Delandine
       Numéro de téléphone : 0978450438
       Adresse électronique : playme@gmail.com 
       SIRET 007
    </p>
    <p>    
    DIRECTEUR DE LA PUBLICATION : 

       Nom du directeur de la publication : WOLFF Laura
       Coordonnées du directeur de la publication : playme@gmail.com
    </p>
    <p>
    HÉBERGEUR DU SITE :

       Nom de la société d'hébergement : PLAYME
       Adresse de l'hébergeur : 17 Rue Delandine
       Numéro de téléphone de l'hébergeur : 0978450438
    </p>
    <p>
    PROPRIÉTÉ INTELLECTUELLE :

       Le site et son contenu (textes, images, vidéos, etc.) sont la propriété exclusive de AFAC 974
       et sont protégés par le droit d'auteur.
       Toute reproduction ou utilisation non autorisée est strictement interdite.

       © 2023 AFAC 974. Tous droits réservés.
    </p>
    <p>
    UTILISATION DES ŒUVRES :

       Les œuvres présentées sur ce site sont la propriété de leurs artistes respectifs. Toute utilisation,
       reproduction ou diffusion des œuvres doit faire l'objet d'une autorisation expresse de l'artiste.
    </P>
    <p>
    DONNÉES PERSONNELLES :

       Les données personnelles collectées sur ce site sont traitées conformément à notre politique de confidentialité.
    </p>
    <p>
    COOKIES :

       Ce site utilise des cookies. Pour en savoir plus sur l'utilisation des cookies et les options de gestion,
       veuillez consulter notre politique en matière de cookies à cookies.com.
    </p>
    <p>
    CONTACT :

       Pour toute question ou demande, veuillez nous contacter à l'adresse suivante : playme@gmail.com .
    </p>
    <p>
    DROIT APPLICABLE :

       Le présent site est soumis au droit français.
    </p>
    <br>
</div>
<div>
    <h2> RGPD </h2><br>
</div>
<div class="container">
        <a href={{ "https://www.cnil.fr/fr/reglement-europeen-protection-donnees" }}>Lien vers le site de la CNIL</a>
</div>
</div>
{% endblock %}