{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
<div class="mt-4 container border-general">
   <div>
      <h2>A propos d' AFAC 974</h2><br>
   </div> 

   <div class="container">
      <p>
      AFAC 974, ou Association pour la Formation et l'Animation Culturelle à La Réunion, est une organisation dynamique,
      basée sur l'île de La Réunion. Fondée dans le but de promouvoir la formation et l'animation culturelle,
      l'AFAC 974 s'engage à enrichir la vie des habitants de l'île en offrant des opportunités éducatives et artistiques.
      </p>
      <p>
      L'association s'investit activement dans le développement de programmes de formation qui visent à renforcer
      les compétences des participants, qu'il s'agisse de formations professionnelles, d'ateliers artistiques
      ou d'activités éducatives. En mettant l'accent sur la diversité culturelle présente à La Réunion,
      l'AFAC 974 contribue à tisser des liens intercommunautaires et à célébrer la richesse de l'héritage culturel de l'île.
      </p>
      <p>
      La promotion de l'animation culturelle est également au cœur des actions de l'association.
      Elle organise des événements artistiques, des spectacles, des expositions et des festivals,
      qui mettent en avant les talents locaux et favorisent l'échange culturel.
      Ces initiatives contribuent à dynamiser la scène culturelle réunionnaise et à encourager la créativité
      au sein de la communauté.
      </p>
      <p>
      L'AFAC 974 incarne ainsi une force positive dans la vie culturelle et éducative de La Réunion.
      Grâce à son engagement continu, elle participe à l'épanouissement des individus en offrant des opportunités de formation
      et d'expression artistique, tout en favorisant la cohésion sociale au sein de cette magnifique île de l'océan Indien.
      </p>
      <br>
      </div>
</div>
</div>
{% endblock %}