{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Notre galerie {% endblock %}

{% block body %}
<h1 class="p-3 d-flex justify-content-center">Notre galerie</h1>
    <div class="mb-4 container border-general">
        <div class="row">
            {% for i in 0..8 %}
            <div class="col-4">
                <div class="m-3 card">
                    <img src="{{ asset('build/images/darksanta.png') }}" alt="darksanta">
                    <h2 class="pt-2 text-center"> Le boss du game</h2>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}