{% extends 'base.html.twig' %}


{% block body %}
<div class="mt-4 container border-general">
    <div>
        <h2>Mentions légales</h2><br>
    </div> 
        <div class="container">
            <p>
            ÉDITEUR DU SITE :

            Nom de l'entreprise : AFAC 974
            Adresse de l'entreprise : 17 Rue Delandine
            Numéro de téléphone : 0978450438
            Adresse électronique : playme@gmail.com 
            SIRET 007
            </p>
            <p>    
            DIRECTEUR DE LA PUBLICATION :

            Nom du directeur de la publication : WOLFF Laura
            Coordonnées du directeur de la publication : playme@gmail.com
            </p>
            <p>
            HÉBERGEUR DU SITE :

            Nom de la société d'hébergement : PLAYME
            Adresse de l'hébergeur : 17 Rue Delandine
            Numéro de téléphone de l'hébergeur : 0978450438
            </p>
            <p>
            PROPRIÉTÉ INTELLECTUELLE :

            Le site et son contenu (textes, images, vidéos, etc.) sont la propriété exclusive de AFAC 974
            et sont protégés par le droit d'auteur.
            Toute reproduction ou utilisation non autorisée est strictement interdite.

            © 2023 AFAC 974. Tous droits réservés.
            </p>
            <p>
            UTILISATION DES ŒUVRES :

            Les œuvres présentées sur ce site sont la propriété de leurs artistes respectifs. Toute utilisation,
            reproduction ou diffusion des œuvres doit faire l'objet d'une autorisation expresse de l'artiste.
            </P>
            <p>
            DONNÉES PERSONNELLES :

            Les données personnelles collectées sur ce site sont traitées conformément à notre politique de confidentialité.
            </p>
            <p>
            COOKIES :

            Ce site utilise des cookies. Pour en savoir plus sur l'utilisation des cookies et les options de gestion,
            veuillez consulter notre politique en matière de cookies à cookies.com.
            </p>
            <p>
            CONTACT :

            Pour toute question ou demande, veuillez nous contacter à l'adresse suivante : playme@gmail.com .
            </p>
            <p>
            DROIT APPLICABLE :

            Le présent site est soumis au droit français.
            </p>
            <br>
        </div>
</div>
    <div class="mt-4 mb-4 container border-general">
        <div>
            <h2> RGPD </h2><br>
        </div>
        <div class="container">
                <a href={{ "https://www.cnil.fr/fr/reglement-europeen-protection-donnees" }}>Lien vers le site de la CNIL</a>
        </div>
    </div>
</div>
{% endblock %}