{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe
{% endblock %}

{% block body %}
	<p>
		S'il existe un compte correspondant à votre adresse e-mail, un e-mail vient d'être envoyé contenant un lien que vous pouvez utiliser pour réinitialiser votre mot de passe..
				Le lien expirera dans
		{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
	</p>
	<p>
		Si vous ne recevez pas de mail, vérifier dans votre boîte de SPAM ou
		<a href="{{ path('app_forgot_password_request') }}">essayez encore</a>.</p>
{% endblock %}
