<footer class="mt-auto footer-lw">
<ul class="mb-0 d-flex flex-row align-items-center footer-list">
<a href=" {{ path('home_about_us') }}"><li class="footer-li">A propos</li></a>
<a href=" {{ path('home_mentions') }}"><li class="footer-li">Mentions légales</li></a>
</footer>