<div class="gradient-navbar-ab">
<div class="collapse" id="navbarToggleExternalContent" data-bs-theme="dark">
  <div>
    <ul class="list-group list-group-flush">
      <li>Notre galerie</li>
      <li>Nos artistes</li>
      <li>Contact</li>
      <li>Newsletter</li>
    </ul>
  </div>
</div>
<nav class="navbar">
  <div class="container-fluid container-navbar">
    <button class="navbar-toggler navbar-border" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <img class="diamant-navbar-translate" src="{{ asset('build/images/Frame.png') }}">
    </button>
    <img src="{{ asset('build/images/AFAC.png') }}">
    <img src="{{ asset('build/images/user.png') }}" width="95">
  </div>
</nav>
</div>