<form method="post" action="{{ path('expo_delete', {id: expo.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ expo.id) }}">
    <button class="btn btn-primary mt-3" type="submit">{{ button }}</button>
</form>