{% extends 'base.html.twig' %}

{% block title %}Expositions{% endblock %}

{% block body %}   
    {% if app.user %}
    <div class="container mt-5 mb-5 border-general p-5">
     {{ include( 'expo/_form.html.twig', {'button': 'Mettre à jour'}) }}
     {{ include('expo/delete.html.twig', {'button': 'Supprimer'}) }}
    </div>
    {% endif %}    
   {% endblock %}