.footer-lw{
    display:flex;
    flex-direction: row;
    margin-top: auto;
    background: linear-gradient(90deg, #730F46 0%, #2885AA 100%);
    position: 0;
}
.footer-li{ 
    list-style: none ;
    color: #fff;
    font-size: 1.2rem;
    padding: 1rem 2rem;
}
.footer-li:hover{
    text-decoration: underline;
    text-decoration-color: #fff;
}