$color-form: #c9dbe2 ;
$primary:#4E4A78;
$bs-btn-color: #fff;
$font-family-titres: 'Bebas Neue', sans-serif;
$font-family-textes: 'Pill Gothic 600mg', sans-serif;
$font-family-base: $font-family-textes; 


body{
    min-height: 100vh;
    font-family: $font-family-base;
    margin: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-titres;
   
}
.border-general {
    position: relative;
    padding: 1.5rem 1.5rem;
    border-radius: 20px;
    border: 2px solid transparent;
    background: #fff;
    background-clip: padding-box; 
    &:before {
        content: '';
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        z-index: -1;
        margin: -2px; 
        border-radius: inherit;
        background:linear-gradient(to top left, #2885AA , #730F46 );
    }   
}
.btn-primary{
    color: $bs-btn-color !important;
}
.bouton-general{
    padding: 2rem 0;
}
.form-control, .form-select{
    border-color: $color-form !important;
}
.form-control:focus, .form-select:focus{
    box-shadow: none !important;
}
a {
    text-decoration: none !important;
}

textarea.form-control {
    resize: none !important;
}

.btn-font-plus{
    font-size: 2rem !important;
}
