{% extends 'base.html.twig' %}

{% block title %}Modifier vos informations personnelles
{% endblock %}

{% block body %}
	<h1>Mon compte</h1>

	{{ include('user/_form.html.twig', {'button_label': 'Enregistrer'}) }}

	{{ include('user/_delete_form.html.twig') }}
{% endblock %}
