{% extends 'base.html.twig' %}

{% block title %}New User
{% endblock %}

{% block body %}
	<h1>Créer votre compte</h1>

	{{ include('user/_form.html.twig') }}
	<form>
		<a class="btn btn-lg btn-primary" href="{{ path('app_user_index') }}">Retour à la page de connexion</a>
	</form>
{% endblock %}
